@model occupy.Models.IndexViewModel
<!--================Project Area =================-->
	<section class="project_area">
		<div class="row m0">
			@if (Model.Services!=null)
			{
				@foreach (var item in Model.Services)
				{
						<div class="col-lg-4 col-md-6 p0">
				<div class="project_item">
					<img src="~/uploads/files/icon/@item.Image" alt="">
					<div class="hover_text">
						<h4>@item.Title</h4>
						<div class="cat">
							<a href="#">@item.Subtitle</a>
						</div>
						<a class="main_btn" href="@item.Url" target="@item.UrlTarget">@item.UrlText</a>
					</div>
				</div>
			</div>
				}
			}
		
			
		</div>
	</section>
	<!--================End Project Area =================-->