	@model occupy.Models.IndexViewModel
	<!--================Team Area =================-->
	<section class="team_area">
		<div class="team_slider owl-carousel">
    @if (Model.Teams!=null)
   {
	foreach (var item in Model.Teams)
	{
		<div class="item">
				<div class="team_item">
					<img src="~/uploads/files/icon/@item.Image" alt="">
					<div class="hover_text">
						<a href="#">
							<h4>@item.Title</h4>
						</a>
						<p>@item.Subtitle</p>
						<ul class="list">
							<li><a href="@item.Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="@item.Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="@item.Instagram"><i class="fa fa-instagram"></i></a></li>
							<li><a href="@item.Youtube"><i class="fa fa-youtube"></i></a></li>
							<li><a href="@item.Linkedin"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
	}
		
   }
		</div>
	</section>
	<!--================End Team Area =================-->